In [ ]:
import pandas as pd

In [11]:
from sqlalchemy import create_engine

In [12]:
from time import time

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [8]:
df_zones = pd.read_csv('ny-taxi-data/taxi+_zone_lookup.csv')

In [9]:
df_zones.head()us-central1

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265