In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.0'

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [ ]:
#print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [12]:
df_iter = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 10.4 s

In [17]:
from time import time

In [18]:
for df in df_iter:
    t_start = time()
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')    

    t_end = time()

    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 9.913 seconds
inserted another chunk..., took 10.011 seconds
inserted another chunk..., took 10.295 seconds
inserted another chunk..., took 10.151 seconds
inserted another chunk..., took 10.534 seconds
inserted another chunk..., took 10.415 seconds
inserted another chunk..., took 10.633 seconds
inserted another chunk..., took 10.139 seconds
inserted another chunk..., took 11.482 seconds
inserted another chunk..., took 9.720 seconds
inserted another chunk..., took 10.228 seconds

/tmp/ipykernel_41968/2852638298.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted another chunk..., took 10.102 seconds
inserted another chunk..., took 6.234 seconds

In [19]:
df_zones = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')

In [20]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [22]:
t_start = time()
    
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

t_end = time()
print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 0.272 seconds

In [25]:
query = """
    SELECT ytd.tpep_pickup_datetime
    	 , ytd.tpep_dropoff_datetime
    	 , ytd.total_amount
    	 , CONCAT(zpu."Borough", ' / ', zpu."Zone") as pick_up_loc
    	 , CONCAT(zdo."Borough", ' / ', zdo."Zone") as drop_off_loc
    	 , CAST(ytd.tpep_pickup_datetime as DATE) as tpep_pickup_day
      FROM public.yellow_taxi_data ytd
    LEFT JOIN public.zones zpu ON ytd."PULocationID" = zpu."LocationID"
    LEFT JOIN public.zones zdo ON ytd."DOLocationID" = zdo."LocationID"
    ORDER BY ytd.total_amount DESC
    LIMIT 100
"""

pd.read_sql(query, con=engine)

,tpep_pickup_datetime,tpep_dropoff_datetime,total_amount,pick_up_loc,drop_off_loc,tpep_pickup_day
0,2021-01-04 16:04:51,2021-01-04 16:15:01,7661.28,Manhattan / Lenox Hill East,Manhattan / Upper East Side North,2021-01-04
1,2021-01-20 11:22:05,2021-01-20 19:47:56,2292.40,Manhattan / Alphabet City,Unknown /,2021-01-20
2,2021-01-12 12:57:36,2021-01-12 21:37:34,1155.65,Manhattan / Union Sq,Brooklyn / Canarsie,2021-01-12
3,2021-01-10 18:51:32,2021-01-10 18:53:57,900.35,Manhattan / TriBeCa/Civic Center,Manhattan / TriBeCa/Civic Center,2021-01-10
4,2021-01-19 11:38:47,2021-01-19 19:34:16,894.20,Manhattan / Alphabet City,Manhattan / Alphabet City,2021-01-19
...,...,...,...,...,...,...
95,2021-01-21 18:38:08,2021-01-21 20:08:16,244.30,Queens / JFK Airport,Unknown /,2021-01-21
96,2021-01-18 05:32:21,2021-01-18 06:35:57,243.96,Queens / JFK Airport,Unknown /,2021-01-18
97,2021-01-12 19:14:36,2021-01-12 20:08:08,243.49,Queens / East Elmhurst,Unknown /,2021-01-12
98,2021-01-13 20:29:31,2021-01-13 21:55:52,242.90,Queens / Baisley Park,Unknown /,2021-01-13
99,2021-01-15 17:53:17,2021-01-15 19:27:20,241.92,Manhattan / Seaport,Unknown /,2021-01-15