In [26]:
import pandas as pd

In [27]:
pd.__version__

'2.2.0'

In [28]:
from sqlalchemy import create_engine

In [29]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
engine.connect()

In [31]:
#print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [32]:
df_iter = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [33]:
df = next(df_iter)

In [34]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [36]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 6.42 s, sys: 43.7 ms, total: 6.46 s
Wall time: 9.36 s

1000

In [37]:
from time import time

In [38]:
for df in df_iter:
    t_start = time()
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')    

    t_end = time()

    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 8.950 seconds
inserted another chunk..., took 9.180 seconds
inserted another chunk..., took 9.584 seconds
inserted another chunk..., took 9.500 seconds
inserted another chunk..., took 9.369 seconds
inserted another chunk..., took 9.957 seconds
inserted another chunk..., took 9.389 seconds
inserted another chunk..., took 9.483 seconds
inserted another chunk..., took 9.358 seconds
inserted another chunk..., took 9.512 seconds
inserted another chunk..., took 9.394 seconds

/tmp/ipykernel_41968/2287896227.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted another chunk..., took 9.622 seconds
inserted another chunk..., took 5.806 seconds

In [39]:
df_zones = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')

In [40]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [41]:
t_start = time()
    
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

t_end = time()
print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 0.069 seconds

In [43]:
query = """
    SELECT ytd.tpep_pickup_datetime
    	 , ytd.tpep_dropoff_datetime
    	 , ytd.total_amount
    	 , CONCAT(zpu."Borough", ' / ', zpu."Zone") as pick_up_loc
    	 , CONCAT(zdo."Borough", ' / ', zdo."Zone") as drop_off_loc
    	 , CAST(ytd.tpep_pickup_datetime as DATE) as tpep_pickup_day
      FROM public.yellow_taxi_trips ytd
    LEFT JOIN public.zones zpu ON ytd."PULocationID" = zpu."LocationID"
    LEFT JOIN public.zones zdo ON ytd."DOLocationID" = zdo."LocationID"
    ORDER BY ytd.total_amount DESC
    LIMIT 100
"""

pd.read_sql(query, con=engine)

,tpep_pickup_datetime,tpep_dropoff_datetime,total_amount,pick_up_loc,drop_off_loc,tpep_pickup_day
0,2021-01-04 16:04:51,2021-01-04 16:15:01,7661.28,Manhattan / Lenox Hill East,Manhattan / Upper East Side North,2021-01-04
1,2021-01-20 11:22:05,2021-01-20 19:47:56,2292.40,Manhattan / Alphabet City,Unknown /,2021-01-20
2,2021-01-12 12:57:36,2021-01-12 21:37:34,1155.65,Manhattan / Union Sq,Brooklyn / Canarsie,2021-01-12
3,2021-01-03 11:36:52,2021-01-03 18:30:59,1108.20,Manhattan / Lower East Side,Manhattan / Alphabet City,2021-01-03
4,2021-01-10 18:51:32,2021-01-10 18:53:57,900.35,Manhattan / TriBeCa/Civic Center,Manhattan / TriBeCa/Civic Center,2021-01-10
...,...,...,...,...,...,...
95,2021-01-03 22:29:20,2021-01-03 22:29:27,251.75,Unknown /,Unknown /,2021-01-03
96,2021-01-21 13:29:45,2021-01-21 13:31:01,250.30,Unknown /,Unknown /,2021-01-21
97,2021-01-09 10:42:11,2021-01-09 10:43:16,250.30,Queens / JFK Airport,Queens / JFK Airport,2021-01-09
98,2021-01-24 15:50:53,2021-01-24 15:50:53,250.30,Unknown /,Unknown / NV,2021-01-24
99,2021-01-20 21:04:57,2021-01-20 21:05:28,250.30,Queens / JFK Airport,Queens / JFK Airport,2021-01-20